{% extends 'base.html.twig' %}

{% block title %}Api integration status{% endblock %}

{% block body %}
    <form action="{{ path('integration_setup') }}" method="POST">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Type of integration</th>
                <th scope="col">Apply</th>
                <th scope="col">Token</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="dv-notelist">DvCampusNotelistIntegration</label></td>
                    <td>
                        <input type="checkbox" name="notelist-enabled" checked data-toggle="toggle" id="dv-notelist">
                    </td>
                    <td>
                        <input type="text" name="notelist-token" id="dv-notelist-tokent">
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
{% endblock %}
