{% extends 'base.html.twig' %}

{% block title %}Api integration set up{% endblock %}

{% block body %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Api token" aria-label="Api token" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Submit</button>
    </div>
{% endblock %}
