{% extends 'base.html.twig' %}

{% block title %}List of all tasks{% endblock %}

{% block body %}
    <ul>
    {% for task in tasks %}
        <li>
        <h4>{{ task.title }}</h4>
        <p>{{ task.text }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
