{% extends 'base.html.twig' %}

{% block title %}List of all tasks{% endblock %}

{% block body %}
    <ul>
    {% for task in tasks %}
        <li>
            <a href="{{ path('checklist_get', {'category_id': task.category_id, 'taskId': task.id}) }}">
                {% if task.done %}
                    <h4><i>{{ task.title }}</i></h4>
                {% else %}
                    <h4>{{ task.title }}</h4>
                {% endif %}
            </a>
        <p>{{ task.text }}</p>
            <button>Add</button>
            <button>Edit</button>
            <button>Delete</button>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
